body{
    background-color:black;
    color:#8cb8ff;
}
#header{
    display:flex;
    justify-content:center;
    width:100%;
    background-image:url("https://data.whicdn.com/images/216101520/original.gif");
}
#pictures{
    display:flex;
    justify-content:space-around;
    width:100%;
}
img{
    width:155px;    
    height:170px;
}
#buttons{
    display:flex;
    justify-content:space-around;
}
button{
    color:orange;
}
:hover{
    color:orange;
}